@import "email/email2friend.css";


ul.peb li { z-index: 50000; }

#social
{
	position: relative;
	display: block;
	text-align: left;
	float: none;
}
#social .share
{
	background: url(/includes/share/images/share_icon.png) no-repeat left center;
	padding-left: 20px;
	font-weight: normal;
	text-decoration: none;
	text-align: left;
	display: block;
	line-height: 16px;
}

#social a.share { color: #0066CC; }

#social a.share:hover { cursor: pointer; text-decoration: underline; }

#social ul
{
	margin: 2px 0 2px 2px;
	width: 180px;
	list-style: none;
	background: transparent url(/includes/share/images/social_bg.png) repeat scroll 647px top !important;
	_background-image: url(/includes/share/images/social_bg.gif);
	padding: 20px 0 !important;
	z-index: 30000 !important;
	position: absolute;
	left:-140px;
	top: 15px;
	float: none;
}
#social li {
margin:2px; 
list-style: none;
width:98%;
padding: 0px; 
float: none;
}
#social img {padding:0 3px;}
#social li a
{
	color: white;
	font-family: Verdana, Arial, sans-serif;
	font-size: 85%;
	font-weight: normal;
	text-decoration: none;
	line-height: 25px;
	display: block;
	background-position: 10px 50%; background-repeat: no-repeat;
	padding-left: 30px;
	}
	
#social li a:hover { text-decoration: underline; }
